{% extends 'base.html.twig' %}

{% block title %}
    Modify my profile
{% endblock %}

{% block body %}
<div class="edit-wrapper">
    <div class="edit-card">
        <h1 class="edit-title">Modifier mon profil</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

            <div class="form-group">
                {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
            </div>

            <hr class="section-divider">
            <p class="section-label">Changer le mot de passe (facultatif)</p>

            <div class="form-group">
                {{ form_row(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>


                <button type="submit" class="btn btn-primary">
                    Sauvegarder
                </button>

                <a href="{{ path('app_profile', {'id': app.user.id}) }}" class="btn btn-secondary">
                    Annuler
                </a>

                <hr class="section-divider">

            <div class="form-actions">

            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

