{% extends 'base.html.twig' %}

{% block title %}
    Modify my profile
{% endblock %}

{% block body %}
<div class="edit-wrapper">
    <div class="edit-card">
        <h2 class="title-create">Modifier votre profil</h2>

        <div class="create-container-form">

            {% form_theme form 'views/form-theme.html.twig' %}

            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

            <div class="form-row">
                <div class="form-col">{{ form_row(form.firstname, {label: 'Prénom', 'attr': {'class': 'form-control'}}) }}</div>
                <div class="form-col">{{ form_row(form.lastname, {label: 'Nom','attr': {'class': 'form-control'}}) }}</div>
            </div>

            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.phoneNumber, {label: 'Numéro de téléphone', 'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.campus, {label: 'Campus', 'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.picture, {label: 'Changer votre photo de profil', 'attr': {'class': 'form-control'}}) }}
            </div>

            <p class="form-location-titlePosition">Changer le mot de passe (facultatif)</p>

            <div class="form-group">
                {{ form_row(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-row form-buttons">
                <button type="submit" class="form-col form-button-submit">
                    Sauvegarder
                </button>

                <a href="{{ path('app_profile', {'id': app.user.id}) }}" class="form-col form-button-cancel">
                    Annuler
                </a>
            </div>

        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

