{# Roman #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil de {{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block body %}

    <div class="container-profile">

        <div class="profile-card">

            <div class="profile-card-row pc-row1">

                <div class="container-profil-picture">
                    <img src="{{ asset('images/profilePictures/' ~ user.picture) }}"
                         alt="Photo of {{ user.firstname }}"
                         class="profil-picture"></div>
                <div class="profile-infos">
                    <h2>Carte de membre</h2>
                    <div><span class="profile-infos-label">Pseudo</span> {{ user.username }}</div>
                    <div><span class="profile-infos-label">Identité</span>{{ user.firstname ~ ' ' ~ user.lastname }}
                    </div>
                    <div><span class="profile-infos-label">Adresse email</span>{{ user.email }}</div>
                    <div><span class="profile-infos-label">Numéro de téléphone</span>{{ user.phoneNumber }}</div>
                    <div><span
                            class="profile-infos-label">Campus</span>{{ user.campus ? user.campus.name : 'Information inconnue' }}
                    </div>
                    {% if app.user == user %}
                    <button class="button-edit-profile"><a href="{{ path('app_profile_edit', {id: user.id}) }}">Modifier
                            mon profil</a></button>
                    {% endif %}
                </div>

            </div>

            <div class="profile-card-row pc-row2">

                <div class="profile-statistiques">
                    <h2>Statistiques</h2>
                    <div>Randonnées organisées : {{ user.plannedHikes | length }}</div>
                    <div class="statistique-label">Randonnées participées : {{ user.participatedHikes | length }}</div>
                </div>

                <div class="profile-badges">
                    <h2>Badges gagnés</h2>
                    <div class="badge-row">
                        <div class="badge-container">
                            <img src="{{ asset('images/assetsFront/badge2.svg') }}" class="profile-badge-icon">
                            <div class="tooltip">Randonneur Niveau 1 : <br>vous avez participé à une randonnée</div>
                        </div>
                        <div class="badge-container">
                            <img src="{{ asset('images/assetsFront/badge1.svg') }}" class="profile-badge-icon">
                            <div class="tooltip">Meneur Niveau 1 : <br>vous avez organisé une sortie</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {% if app.user == user %}

        <div class="dashboard-user-profile">

            <h2>Tableau de bord</h2>

            <div class="dashboard-row">

                <div class="dashboard-col">
                    <div class="dashboard-legend"><h3>Randonnées organisées</h3></div>
                    <div class="dashboard-content">
                        {% for hike in user.plannedHikes %}
                            {% if hike.status.label != 'Créée' %}
                                <div>
                                    <span class="dashboard-user-statut">{{ hike.status.label }}</span><br>
                                    <a href="{{ path('hike_detail', {'id': hike.id}) }}">
                                        {{ hike.name }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="dashboard-col">
                    <div class="dashboard-legend"><h3>Randonnées participées</h3></div>
                    <div class="dashboard-content">
                        {% for hike in user.participatedHikes %}
                            <div>
                                <span class="dashboard-user-statut">{{ hike.status.label }}</span><br>
                                <a href="{{ path('hike_detail', {'id': hike.id}) }}">
                                    {{ hike.name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="dashboard-col">
                    <div class="dashboard-legend"><h3>Mes brouillons</h3></div>
                    <div class="dashboard-content">
                        {% for hike in user.plannedHikes %}
                            {% if hike.status.label == 'Créée' %}
                                <div>
                                    <span class="dashboard-user-statut">{{ hike.status.label }}</span><br>
                                    <a href="{{ path('hike_detail', {'id': hike.id}) }}">
                                        {{ hike.name }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

        {% endif %}

    </div>

    <div class="profile-buttons">
        <a href="{{ path('home') }}" class="button-home-profile">Retour à l'accueil</a>
    </div>

{% endblock %}




