{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-login">

    <h2 class="title-login">Connexion</h2>

    <div class="container-form-login">

        <form method="post" class="form-login">


            {% if app.user %}
                <div class="mb-3">
                    Vous êtes déjà identifié : {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Déconnexion</a>
                </div>
            {% endif %}

            <label for="inputUsername" class="form-login-label">Nom d'utilisateur ou email</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword" class="form-login-label">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            <div class="login-rememberMe">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            {% if error %}
                <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <button class="form-button-submit" type="submit">
                Se connecter
            </button>
            <div class="login-forgotPassword">
                <a href="{{ path('app_forgot_password_request') }}" class="login-link">Mot de passe oublié ?</a>
            </div>
        </form>

    </div>

    </div>
{% endblock %}
