{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

    {# affichage form de filtrage #}
    <div>
        <h2>Filtrez vos sorties : </h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button> Rechercher</button>
        {{ form_end(form) }}
    </div>

    {# affichage des données #}
    {% for hike in hikes %}
        <div>
            <a href="{{ path('hike_detail', {'id' : hike.id}) }}">
                <div>
                    <img
                        src="{{ asset('images/hikes/' ~ hike.picture ) }}"
                        alt="{{ hike.name }}" style="width: 10rem">
                </div>
                <div>
                    nom : {{ hike.name }}
                    <br>
                    description : {{ hike.description }}
            </a>
            <br>
            <a href="{{ path('app_profile', {'id' : hike.planner.id}) }}">
                organisateur : {{ hike.planner.username }}
            </a>
            <br>
            date de l'évènement : {{ hike.dateEvent | date ('d-m-Y') }}
        </div>
        <br>

        </div>
    {% endfor %}

    <div>
        {% if currentPage > 1 %}
            <a href="{{ path('home', {'page': currentPage-1}) }}">
                <button>
                    Previous page
                </button>
            </a>
        {% endif %}
        {% if currentPage < maxPage %}
            <a href="{{ path('home', {'page': currentPage+1}) }}">
                <button>
                    Next page
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}
