{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    <h1>Les infos d'une sortie :</h1>
    <h2>nom de la sortie : {{ sortie.name }}</h2>
    <h2>description de la sortie : {{ sortie.description }}</h2>
    <h2>zone de la sortie : {{ sortie.location.name }}</h2>
    <h2>nom de l'organisateur de la sortie : {{ sortie.planner.username }}</h2>
    <h2>nombre de participants à la sortie : {{ sortie.nbMaxSubscription }}</h2>

</div>
{% endblock %}
