{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}


    <h2 class="admin_h2">Espace Administrateur</h2>

    <div class="admin_container">
        {# Les boutons pour l'affichage #}

        <a href="#tabUser">
            <button id="admin_btn_tabUser" class="admin_btnOnglet admin_clickedBtn"> Gestion des utilisateurs</button>
        </a>

        <a href="#tabRando">
            <button id="admin_btn_tabRando" class="admin_btnOnglet"> Gestion des randonnées</button>
        </a>

        <a href="#tabCampus">
            <button id="admin_btn_tabCampus" class="admin_btnOnglet"> Gestion des Campus</button>
        </a>

        <a href="#tabVille">
            <button id="admin_btn_tabVille" class="admin_btnOnglet"> Gestion des Villes</button>
        </a>

        {# ----------------------------------------------------- #}


        {# Affichage des données #}
    </div>

    <div class="admin_onglets">

        {# Onglet gestion des utilisateurs #}
        <div id="tabUser" class="admin_tab {% if activeTab == 'tabUser' %}active{% endif %}">
            <div class="admin_btnAddUser_Container">
                <a href="{{ path('admin_formUser') }}">
                    <button>Ajouter un utilisateur</button>
                </a>
                <a href="{{ path('admin_uploadcsv') }}">
                    <button>Importer un fichier csv</button>
                </a>

            </div>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">prénom</th>
                        <th scope="col">nom</th>
                        <th scope="col">email</th>
                        <th scope="col">campus</th>
                        <th scope="col">statut</th>
                        <th scope="col">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('app_profile', {'id' : user.id}) }}">
                                    <img
                                        src="{{ asset('images/profilePictures/' ~ user.picture) }}"
                                        alt="{{ user.username }}" style="width: 5rem"></a>
                            </th>
                            <td>
                                <a href="{{ path('app_profile', {'id' : user.id}) }}">
                                    {{ user.username }}
                                </a>
                            </td>
                            <td>
                                {{ user.firstname }}
                            </td>
                            <td>
                                {{ user.lastname }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.campus.name }}
                            </td>

                            {# ===== Satuts===== #}
                            <td>
                                {% if user.active %}
                                    <span style="color: yellowgreen; font-weight: bold;">Active</span><br>
                                {% else %}
                                    <span style="color: red; font-weight: bold;">Inactive</span>
                                {% endif %}
                            </td>

                            {# ======= Bouton Deactivate / Activate /delete / randonnées ======== #}
                            <td>
                                <div class="admin_UserAction">
                                    {% if user.active %}
                                        <a class="admin_link" href="{{ path('admin_deactivate_user', {id: user.id}) }}">
                                            <button class="admin_deactiveStatus"
                                                    onclick="return confirm('Disable {{ user.firstname }} {{ user.lastname }} ?\nHe will be removed from all his hikes.');">
                                                Disable
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('admin_activate_user', {id: user.id}) }}"
                                           onclick="return confirm('Reactivation account of {{ user.firstname }} {{ user.lastname }} ?');">
                                            <button class="admin_reactiveStatus">Reactivate</button>
                                        </a>
                                    {% endif %}

                                    {% if app.user != user %}
                                        <a href="{{ path('admin_delete_user', {id: user.id}) }}"
                                           onclick="return confirm('Delete {{ user.firstname }} {{ user.lastname }} permanently ?');">
                                            <button class="admin_btnDeleteUser">
                                                Delete
                                            </button>
                                        </a>
                                    {% endif %}

                                    {% if user.active %}
                                        <button class="admin_BtnInfosUserRando"
                                                data-user-id="{{ user.id }}">{# data-user-id permet de cibler uniquement l'utilisateur de cette itération de la boucle for générale #}
                                            Hikes
                                        </button>
                                    {% endif %}

                                </div>

                            </td>
                        <tr class="admin_sectionRando admin_InfoHide"
                            data-user-id="{{ user.id }}">{# data-user-id permet de cibler uniquement l'utilisateur de cette itération de la boucle for générale #}
                            
                            <td colspan="3">
                                {% if user.plannedHikes | length > 0 %}
                                    Randonnées organisées :<br>
                                {% endif %}
                            </td>
                            <td colspan="5">

                                {% for hike in user.plannedHikes %}
                                    {% if hike.id is not null %}

                                        <a href="{{ path('hike_detail', {'id' : hike.id}) }}">
                                            {{ hike.name }}<br>
                                        </a>

                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>
                        <tr class="admin_sectionRando admin_InfoHide" data-user-id="{{ user.id }}">
                            <td colspan="3">
                                {% if user.participatedHikes | length > 0 %}
                                    Inscription aux randonnées :<br>
                                {% endif %}
                            </td>
                            <td colspan="5">

                                {% for hike in user.participatedHikes %}
                                    {% if hike.id is not null %}

                                        <a href="{{ path('hike_detail', {'id' : hike.id}) }}">
                                            {{ hike.name }}<br>
                                        </a>

                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        {# ----------------------------------------------------- #}
        {# Onglet gestion des Randonnées #}
        <div id="tabRando" class="admin_tab {% if activeTab == 'tabRando' %}active{% endif %}">
            {% for hike in hikes %}
                {% if hike.planner %}
                    <a href="{{ path('app_profile', {'id' : hike.planner.id}) }}">
                        Organisateur : {{ hike.planner.username }}<br>
                    </a>
                {% else %} utilisateur supprimé {% endif %}<br>
                <a href="{{ path('hike_detail', {'id' : hike.id}) }}">
                    Nom : {{ hike.name }}<br>
                    Status : {{ hike.status.label }}<br>
                </a>
                {% if hike.status.label != 'Annulée' and hike.status.label !='Archivée' and hike.status.label !='Passée' %}
                    <a href="{{ path('admin_cancelHike', {'id': hike.id}) }}"
                       onclick="return confirm('Etes vous sûr de vouloir supprimer cette randonnée ?');">
                        <button> Annuler la randonnée</button>
                    </a><br>
                {% endif %}
                -------<br>
            {% endfor %}
        </div>

        {# ----------------------------------------------------- #}
        {# Onglet gestion des campus #}
        <div id="tabCampus" class="admin_tab {% if activeTab == 'tabCampus' %}active{% endif %}">
            <a href="{{ path('admin_addCampus') }}">
                <button>Ajouter un campus</button>
            </a><br>

            {% for element in campus %}
                Campus : {{ element.name }}<br>
                Randonnées organisées sur ce campus : <br>
                {% for hike in element.hikes %}
                    {% if hike.id is not null %}
                        {{ hike.name }}<br>
                    {% endif %}
                {% endfor %}
                Elèves de ce campus :<br>
                {% for eleve in element.users %}
                    {% if eleve.id is not null %}
                        {{ eleve.username }}<br>
                    {% endif %}
                {% endfor %}
                ---------<br>
            {% endfor %}
        </div>

        {# ----------------------------------------------------- #}
        {# Onglet gestion des villes #}
        <div id="tabVille" class="admin_tab {% if activeTab == 'tabVille' %}active{% endif %}">

            <a href="{{ path('admin_addCity') }}">
                <button>Ajouter une ville</button>
            </a><br>
            {% for ville in villes %}
                Ville : {{ ville.name }}<br>
                Code Postale : {{ ville.zipcode }} <br>
                Emplacements :<br>
                {% for location in ville.locations %}
                    {{ location.name }}<br>
                {% endfor %}
                ------ <br>
            {% endfor %}

        </div>
    </div>
    </div>
{% endblock %}
