{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>{{ hike.name }}</h2>
        <div>
            <div>
                <img
                    src="{{ asset('images/hikes/' ~ hike.picture ) }}"
                    alt="{{ hike.name }}" style="width: 10rem">
            </div>
            <div>
                Description : {{ hike.description }} <br>
                Organisateur : {{ hike.planner.username }} <br>
                Date de l'évènement : {{ hike.dateEvent | date ('d-m-Y') }}<br>
                Date limite d'inscription : {{ hike.dateSubscription | date ('d-m-Y') }}<br>
                Statut : {{ hike.status.label }}<br>
                Difficulté : {{ hike.difficulty.label }}<br>
                Durée estimée : {{ hike.duration }}<br>
                Nombre de participants : {{ hike.participant|length }} / {{ hike.nbMaxSubscription }}<br>
                Point de rendez-vous : {{ hike.location.name }}<br>
                Campus de rattachement : {{ hike.campus.name }}<br>
            </div>
        </div>

        {% if user == hike.planner %}
            <button> Modifier la randonnée</button>
            {% if hike.status.label != 'Annulée' %}
                <a href="#modalCancel" id="buttonOpenLocationModale">
                    <button> Annuler la randonnée</button>
                </a>
            {% endif %}
        {% elseif hike.participant.contains(user) %}
            <a href="{{ path('hike_unsubscribe', {'id': hike.id}) }}">
                <button> Se désinscrire</button>
            </a>
        {% else %}
            <a href="{{ path('hike_subscribe', {'id': hike.id}) }}">
                <button> S'inscrire</button>
            </a>
        {% endif %}


    </div>

    <div id="modalCancel" class="modale">
        <a href="#" class="modaleOverlay" id="modaleCancelOverlay"></a>
        <div class="modaleContent">
            <h2>Motif d'annulation de la randonnée : </h2>
            {{ form_start(form()) }}
            {{ form_widget(form()) }}
            <a href="{{ path('hike_cancel', {'id': hike.id}) }}">
                <button>Annuler</button>
            </a>
            {{ form_end(form()) }}
        </div>

    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Hike Details
{% endblock %}

