{% extends 'base.html.twig' %}

{# +++++++++++++++ BLOCK MAP +++++++++++++++++ #}

{% block stylesheets %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
{% endblock %}


{% block body %}

    <div class="container-details">

        <div class="details">

            <div class="details-row d-row1">

                <div class="details-container-img">
                    <img src="{{ asset('images/hikes/' ~ hike.picture ) }}"
                                                        class="details-img" alt="Image de la randonnée"></div>

                {% if hike.location.latitude and hike.location.longitude %}

                <div class="details-container-map" id="map">

                    {% else %}
                        {#                        <img src="{{ asset('images/hikes/' ~ hike.picture ) }}" class="details-map"> #}
                        <p>
                            📍 Aucune coordonnées disponibles pour afficher la carte.
                        </p>
                    {% endif %}
                </div>

            </div>

            <div class="details-row details-zone-infos">

                <div class="details-col">

                    <h2 class="details-title">{{ hike.name }}</h2>

                    <div class="oneHike-infosCartouches">
                        <div class="date">{{ hike.dateEvent |format_date(pattern="d MMMM yyyy",locale='fr') }}</div>
                        <div class="duration">Durée prévue : {{ durationString }}</div>
                        <div class="subscription">Campus : {{ hike.campus.name }}</div>
                    </div>

                    <div class="oneHike-difficulty">
                    <span class="etoile">
                        {% if hike.difficulty.label == 'Facile' %}
                            ★
                        {% elseif hike.difficulty.label == 'Intermédiaire' %}
                            ★★
                        {% elseif hike.difficulty.label == 'Expert' %}
                            ★★★
                        {% endif %}
                        </span>
                    Difficulté : Randonnée {{ hike.difficulty.label |lower }}
                    </div>


                    <div class="details-description">{{ hike.description }}</div>

                    <div class="subscription">Statut : randonnée {{ hike.status.label |lower}}.</div>
                    <div class="details-date-subscription">Date limite d'inscription : {{ hike.dateSubscription |format_date(pattern="d MMMM yyyy",locale='fr') }}</div>


                    {% if user == hike.planner or is_granted('ROLE_ADMIN') %}
                        <button class="detail-hike-button"><a href="{{ path('hike_edit', {'id': hike.id}) }}" >Modifier la randonnée</a></button>
                        {% if hike.status.label == 'Ouverte' or hike.status.label == 'Clôturée' or is_granted('ROLE_ADMIN') %}
                            <a href="#modalCancel" id="buttonOpenLocationModale">
                                <button id="buttonHikeCancel" class="detail-hike-button detail-hike-button-delete"> Annuler la randonnée</button>
                            </a>
                        {% endif %}
                        {% if hike.status.label == 'Créée' or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('hike_publish', {'id': hike.id}) }}">
                                <button class="detail-hike-button">Publier la randonnée</button>
                            </a>
                            <a href="{{ path('hike_delete', {'id': hike.id}) }}">
                                <button class="detail-hike-button detail-hike-button-delete"> Supprimer</button>
                            </a>
                        {% endif %}
                    {% elseif hike.participant.contains(user) %}
                        <a href="{{ path('hike_unsubscribe', {'id': hike.id}) }}" >
                            <button class="detail-hike-button"> Se désinscrire</button>
                        </a>
                    {% else %}
                        {% if hike.status.label != 'Créée' %}
                            <a href="{{ path('hike_subscribe', {'id': hike.id}) }}" >
                                <button class="detail-hike-button"> S'inscrire</button>
                            </a>
                        {% endif %}
                    {% endif %}

                </div>


                <div class="details-col">

                    <div class="container-details-adress">
                        <div class="details-label">Adresse</div>
                        <div class="details-location">
                            {{ hike.location.name }}</div>

                        <div class="details-adress">
                            {{ hike.location.address }} </div>
                    </div>

                    <div class="details-label">Organisateur</div>
                    <div class="details-container-planner">
                        <div class="detail-user-container">

                            {% if hike.planner %}
                            <a
                                href="{{ path('app_profile', {'id': hike.planner.id}) }}">
                                <img src="{{ asset('images/profilePictures/' ~ hike.planner.picture) }}" class="user-pp"
                                     alt="Photo de profil de l'organisateur"></a>
{#                                <div class="tooltip">{{ hike.planner.username }}</div>#}
                            {% else %}
                                Utilisateur supprimé
                            {% endif %}

                        </div>
                    </div>

                    <div class="details-label">Participants : {{ hike.participant|length }}
                        / {{ hike.nbMaxSubscription }}</div>
                    <div class="details-container-participants">

                        {% for participant in hike.participant %}

                            <a
                                href="{{ path('app_profile', {'id': participant.id}) }}"><img
                                    src="{{ asset('images/profilePictures/' ~ participant.picture) }}"
                                    alt="{{ participant.username }}" class="user-pp"></a>
{#                            <div class="tooltip">{{ participant.username }}</div>#}

                        {% endfor %}

                    </div>


                </div>

            </div>

        </div>

    </div>


    <div id="modalCancel" class="modale">
        <a href="#" class="modaleOverlay" id="modaleCancelOverlay"></a>
        <div class="modaleContent modale-form-cancel">
            <p>Motif d'annulation de la randonnée : </p>
            {% form_theme formCancel 'views/form-theme.html.twig' %}
            {{ form_start(formCancel, {'action': path('hike_cancel', {'id': hike.id}), 'method': 'POST'}) }}
            {{ form_row(formCancel.description, {label: 'Description', label_attr: {class: 'visually-hidden'}}) }}
            <div class="form-row form-buttons">
                <button type="submit" class="form-col form-button-submit">Confirmer l'annulation</button>
                <button id="buttonCancelModale" class="form-col form-button-cancel">Retour</button>
            </div>
            {{ form_end(formCancel) }}
        </div>

    </div>


    {#    <script> #}
    {#        const cancelPath = "{{ path('hike_cancel') }}" #}
    {#    </script> #}
{% endblock %}

{% block title %}
    {{ parent() }} | Détails
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Leaflet #}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    {# code of map #}
    {% if hike.location.latitude and hike.location.longitude %}
        <script>

            const lat = {{ hike.location.latitude }};
            const lng = {{ hike.location.longitude }};


            const locationName = "{{ hike.location.name | e('js') }}";


            const map = L.map('map').setView([lat, lng], 13);


            const streets = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {attribution: '© <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'}
            );

            // Esri
            const satellite = L.tileLayer(
                'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                {attribution: '© Esri'}
            );

            // OpenTopoMap
            const terrain = L.tileLayer(
                'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
                {attribution: '© <a href="https://opentopomap.org/">OpenTopoMap</a> contributors'}
            );


            streets.addTo(map);
            let currentLayer = streets;


            function setLayer(type, btn) {

                map.removeLayer(currentLayer);


                if (type === 'streets') currentLayer = streets;
                if (type === 'satellite') currentLayer = satellite;
                if (type === 'terrain') currentLayer = terrain;


                currentLayer.addTo(map);


                document.querySelectorAll('.map-controls button').forEach(b => b.classList.remove('active'));
                btn.classList.add('active');
            }

            // add marker to the map

            L.marker([lat, lng])
                .addTo(map)
                .bindPopup('<strong>📍 Point de départ</strong><br>' + locationName)
                .openPopup();
        </script>
    {% endif %}
{% endblock %}

