{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>{{ hike.name }}</h2>
        <div>
            <div>
                <img
                    src="{{ asset('images/hikes/' ~ hike.picture ) }}"
                    alt="{{ hike.name }}" style="width: 10rem">
            </div>
            <div>
                Description : {{ hike.description }} <br>
                Organisateur : {{ hike.planner.username }} <br>
                Date de l'évènement : {{ hike.dateEvent | date ('d-m-Y') }}<br>
                Date limite d'inscription : {{ hike.dateSubscription | date ('d-m-Y') }}<br>
                Statut : {{ hike.status.label }}<br>
                Difficulté : {{ hike.difficulty.label }}<br>
                Durée estimée : {{ durationString }}<br>
                Nombre de participants : {{ hike.participant|length }} / {{ hike.nbMaxSubscription }}<br>

                participants : <br>{% for participant in hike.participant %} <a
                href="{{ path('app_profile', {'id': participant.id}) }}"><img
                    src="{{ asset('images/profilePictures/' ~ participant.picture) }}"
                    alt="{{ participant.username }}" style="width: 5rem"> {{ participant.username }}</a><br>{% endfor %}

                Point de rendez-vous : {{ hike.location.name }}<br>
                Campus de rattachement : {{ hike.campus.name }}<br>
            </div>
        </div>

        {% if user == hike.planner or is_granted('ROLE_ADMIN') %}
            <button><a href="{{ path('hike_edit', {'id': hike.id}) }}">Modifier la randonnée</a></button>
            {% if hike.status.label == 'Ouverte' or hike.status.label == 'Clôturée' or is_granted('ROLE_ADMIN') %}
                <a href="#modalCancel" id="buttonOpenLocationModale">
                    <button id="buttonHikeCancel"> Annuler la randonnée</button>
                </a>
            {% endif %}
            {% if hike.status.label == 'Créée' or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('hike_publish', {'id': hike.id}) }}"><button>Publier la randonnée</button></a>
                <a href="{{ path('hike_delete', {'id': hike.id}) }}">
                    <button> Supprimer</button>
                </a>
            {% endif %}
        {% elseif hike.participant.contains(user) %}
            <a href="{{ path('hike_unsubscribe', {'id': hike.id}) }}">
                <button> Se désinscrire</button>
            </a>
        {% else %}
            {% if hike.status.label != 'Créée' %}
                <a href="{{ path('hike_subscribe', {'id': hike.id}) }}">
                    <button> S'inscrire</button>
                </a>
            {% endif %}
        {% endif %}


    </div>

    <div id="modalCancel" class="modale">
        <a href="#" class="modaleOverlay" id="modaleCancelOverlay"></a>
        <div class="modaleContent modale-form-cancel">
            <p>Motif d'annulation de la randonnée : </p>
            {% form_theme formCancel 'views/form-theme.html.twig' %}
            {{ form_start(formCancel, {'action': path('hike_cancel', {'id': hike.id}), 'method': 'POST'}) }}
            {{ form_row(formCancel.description, {label: 'Description', label_attr: {class: 'visually-hidden'}}) }}
            <div class="form-row form-buttons">
                <button type="submit" class="form-col form-button-submit">Confirmer l'annulation</button>
                <button id="buttonCancelModale" class="form-col form-button-cancel">Retour</button>
            </div>
            {{ form_end(formCancel) }}
        </div>

    </div>


    {#    <script> #}
    {#        const cancelPath = "{{ path('hike_cancel') }}" #}
    {#    </script> #}
{% endblock %}

{% block title %}
    {{ parent() }} | Hike Details
{% endblock %}

